<!DOCTYPE html>
<html>
<head>
  <title>Esg</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "",root_path,class:" navbar-brand glyphicon glyphicon-home" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li> <%= link_to "",projects_path,class:" navbar-brand glyphicon glyphicon-blackboard" %></li>
        <li> <%= link_to "", my_projects_path ,class:" navbar-brand glyphicon glyphicon-folder-close" %></li>
        <li> <%= link_to "", new_project_path ,class:" navbar-brand glyphicon glyphicon-star" %></li>
        <li> <%= link_to "","",class:" navbar-brand fa fa-archive " %></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to("Home",root_path) %></li>
        <li><%= link_to("Help","") %></li>
        <%unless user_signed_in? %>
            <li><%= link_to("Login", user_session_path ) %></li>
        <%else %>
            <li> <%= link_to "Log out", destroy_user_session_path, method: :delete %> </li>
        <% end %>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<center>
  <% if notice.present? %>
      <div class="alert alert-success"><%= notice %><a class="close" data-dismiss="alert">x</a></div>
  <% elsif alert.present?%>
      <div class="alert alert-danger"><%= alert %> <a class="close" data-dismiss="alert">x</a></div>
  <%end %>
</center>

<div class="container-fluid">
  <%= yield %>
</div>
</body>
</html>
